SendGrid/Example/bin/
SendGrid/Example/obj/
SendGrid/SendGrid.sln.DotSettings.user
SendGrid/SendGrid/bin/
SendGrid/SendGrid/obj/
SendGrid/Tests/bin/
SendGrid/Tests/obj/
SendGrid/_ReSharper.SendGrid/
*.suo
SendGrid/Example/bin/
SendGrid/Example/obj/
SendGrid/*/bin/
SendGrid/*/obj/
SendGrid/Tests/test-results/
SendGrid/test-results/
.DS_store
SendGrid/SendGrid.userprefs
SendGrid/packages/
SendGrid/TestResult.xml
SendGrid/SendGrid.sln.VisualState.xml
*.pfx
*.PublicKey
SendGrid/.vs/config/applicationhost.config