language: objective-c

env:
 global:
  - EnableNuGetPackageRestore=true 
 matrix:
  - MONO_VERSION="3.4.0"

before_install:
 - wget "http://download.mono-project.com/archive/3.4.0/macos-10-x86/MonoFramework-MDK-3.4.0.macos10.xamarin.x86.pkg"
 - sudo installer -pkg "MonoFramework-MDK-3.4.0.macos10.xamarin.x86.pkg" -target /

script:
 - xbuild /p:Configuration=BuildNet40;build=true SendGrid/SendGrid.sln
 - .ci/nunit.sh Tests/bin/BuildNet40/Tests.dll

